doctype html
html(lang="en")
  head
    title Dashboard
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      h1 Weather Dashboard

      form(action="/dashboard/get-prediction", method="post")
        label(for="date") Input the date where you want to get a snowday prediction:  
        input(type="date", name="date", required)
        input(type="submit", value="Get Prediction")

      if typeof existingOutcome !== 'undefined'
        if existingOutcome === 0
          p There was no snow day on #{dateForPrediction}
        else 
          p There was a snow day on #{dateForPrediction}
      else
        if dateForPrediction
          h2 Enter a date and forecasted weather to get a prediction.
          form(action="/submit-weather-data", method="post")
            input(type="hidden", name="date", value="#{dateForPrediction}" required)
            label(for="temperature") Temperature (°C):
            input(type="number", name="temperature", step="0.1", required)
            label(for="windChill") Wind Chill (°C):
            input(type="number", name="windChill", required)
            label(for="visibility") Visibility (meters):
            input(type="number", name="visibility")
            label(for="rain") Rain (mm):
            input(type="number", name="rain", step="0.1", required)
            label(for="snow") Snow (cm):
            input(type="number", name="snow", step="0.1", required)
            label(for="snowOnGround") Snow on Ground (cm):
            input(type="number", name="snowOnGround", required)
            input(type="submit", value="Get Prediction")
            if predictionResult
              h2 Prediction Result
              - var predictionValue = predictionResult.prediction[0]
              if predictionValue === 0
                p Prediction: "Sorry! Given the data, it seems like there isn't a snow day!"
              else
                p Prediction: "Yes, with these values, there is a SnowDay!"
   


    
    footer
      p Buttons to go back: 
        button.back-button(type="button", onclick="window.location='/'") Go Back Home
        button.back-button(type="button", onclick="window.location='/users'") Go Back To Users Login 
        button.back-button(type="button", onclick="window.history.back();") Previous Page 

      //- feedback
      h3 Was this application helpful? Let us know your feedback!
      form(action="/submit-feedback", method="post")
        textarea(name="feedbackText", placeholder="Your feedback here", rows="4")
        input(type="submit", value="Submit Feedback")
