/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
} */

body {
    text-align: center; /* Center-align the text within the body */
}

h1 {
    margin-top: 50px; /* Adjust the top margin to center vertically */
}

header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}



ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    color: #fff;
    font-size: 24px;
}

li a:hover {
    background: white;
}

img {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

p {
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

.weather-header {
    text-align: left;
  }


  
  .error {
    color: red;
    font-weight: bold;
  }
  .bold{
    font-weight: bold;
  }